<p>Hi,</p>
<p>Please find attached the requested ABN search results generated on <a href="https://findabns.herokuapp.com">https://findabns.herokuapp.com</a></p>
<p>Regards,</p>
<p>Strata Energy Services</p>
</br>
<p><table><tbody><tr><th>Name</th><th class="ABN">ABN</th><th>State</th><th>Postcode</th></tr>
    <% @allabns.each do |r| %>
      <tr>
        <% r.each.with_index do |c,i| %>
          <%# <td><%= c > </td> %>
          <td><%= i != 1 ? c : link_to(c, "https://abr.business.gov.au/ABN/View?id=#{ c.gsub(' ','') }", :target => "_blank") %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody></table></p>
<p  style="color:white;font-size:4px"><%= "Random text to stop mail clients hiding repeated parts of this message: " + rand(1e12).to_s(36) %></p>