<%# AbnMailer.email_test('sfreer@strataenergyservices.com.au',"No Attachment", "Test email sent in #{Rails.env.production? ? 'Production' : 'Local/Development'} for debugging.") %>
<p>Hi,</p>
<p><%= "Sent in #{Rails.env.production? ? 'Production' : 'Local/Development'}" %></p>
<p>Dummy email from <a href="https://findabns.herokuapp.com">https://findabns.herokuapp.com</a></p>
<p>Regards,</br>
Strata Energy Services</br>
<a href="https://www.strataenergyservices.com.au">strataenergyservices.com.au</a></br>
Suite 1.02, Level 1, 6 Eden Park Drive Macquarie Park NSW 2113</p>
<%#<p><%= image_tag 'SES_Email_Logo.png' </p>%>
</br>
<p><%= link_to "Back to Home", root_path(params.permit(:list,:email,:splist,:state,:emailthreshold,:abns,:commit,:filename)) %></p>